[Unit]
Description=FleetSSL DNSONLY
Documentation=https://dnsonly.letsencrypt-for-cpanel.com/

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fleetssl-dnsonly
